# Optimized version of /etc/security/limits.conf
#
# See the following documents for more details:
#
#  - https://github.com/BlueCentre/playbooks/blob/master/files/ulimit/limits-optimized.conf
#
#  - http://www.datastax.com/documentation/cassandra/1.2/cassandra/install/installRecommendSettings.html
#     [quote]
#     >>   If you run Cassandra as root, some Linux distributions
#     >>   such as Ubuntu, require setting the limits for root explicitly
#     >>   instead of using *
#
#


#<domain>      <type>  <item>         <value>

*              soft    nofile         {{ ulimit }}
*              hard    nofile         {{ ulimit }}
root           soft    nofile         {{ ulimit }}
root           hard    nofile         {{ ulimit }}

*              soft    memlock        unlimited
*              hard    memlock        unlimited
root           soft    memlock        unlimited
root           hard    memlock        unlimited

*              soft    as             unlimited
*              hard    as             unlimited
root           soft    as             unlimited
root           hard    as             unlimited

